apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  labels:
    name: prometheus-server-conf
  namespace: monitoring


data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: 'prometheus'
      static_configs:
        - targets: ['localhost:9090']


---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-novara-cong
data:
  prometheus-novara.yml: |
    global:
      scrape_interval:10s
    scrape_configs:
    - job-name:'novara'
      static_configs:
        - targets: ['novara-service:80']
